@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Montserrat&family=Nunito:wght@200&family=Playfair+Display:wght@600&display=swap');

.textLM {
    font-family: 'Dancing Script', cursive;
    font-size: 40px;
}

.active {
    background-color: white;
}

.d-none {
    display: none;
}

.truncate {
    width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

